@import url('https://fonts.googleapis.com/css?family=Raleway|Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Philosopher|Righteous&display=swap');
body{
    background: #222B3A;
    
}
.form {
    /* background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%); */
    /* background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%); */
    background: #222B3A;
    max-height: 100%;
    min-height: 100vh;
}

.form .login-form {
    max-height: 100%;
    min-height: 100vh;
}

.login-form .header h1 {
    font-size: 1.8rem;
    color: white;
    text-shadow: 0 0 5px black;
    font-weight: 700;
    font-family: 'Righteous', cursive;
    letter-spacing: 1px;
}

.login-form .card {
    border: 0;
    background: transparent;
}

.login-form .card .card-header {
    border: 0;
    background: transparent;
}

.login-form .card .card-header h3 {
    font-size: 1.3rem;
    font-weight: 700;
    font-family: 'Philosopher', sans-serif;
    color: white;
    text-shadow: 0 0 5px black;
}

.login-form .card .card-body .position-relative i {
    position: absolute;
    top: 10px;
    left: 20px;
    color: #667eea;
    font-size: 20px;
    font-weight: 700;
}

.login-form .card .card-body .form-control,
.login-form .card .card-body .form-control:focus {
    font-family: 'Raleway', sans-serif;
    background: transparent;
    color: white;
    border: 0;
    box-shadow: 0px 4px 13px rgba(126, 126, 126, 0.33);
    border-radius: 6px;
    padding-left: 2rem;
}

.login-form .card .card-body .social a{
    /* font-size: 25px; */
    margin: .3rem;
    transition: 500ms ease;
    border-radius: 10px;
}

.login-form .card .card-body .register {
    text-align: center;
    font-weight: 600;
    color: white;
}

.login-form .card .card-body .register a {
    color: rgb(31, 151, 250);
    text-decoration: underline;
    text-shadow: 0 0 20px black;
}

.heartbeat:hover {
    animation: heartbeat 1.5s ease-in-out infinite both;
    box-shadow: 0 0 19px #00000030;
}

@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}
.btn-primary {
    font-weight: 700;
    border: 0;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    box-shadow: 0 0 7px #667eea;
}
.github,.face{
    font-size: 17px !important;
    padding: .5rem 1rem;
    font-weight: 500;
    color: #e5e5e5 !important;
    border-radius: 3px !important;
    box-shadow: none;
}
.github{
    background-image: linear-gradient(135deg, #010102 0%, #222b3a 100%);
}
.face{
    background-image: linear-gradient(135deg, #2323b5 0%, #0c3a89 100%);
}
.github:hover,.face:hover{
    transform: scale(1.05);
}
/* asda */
.log-pic{
    padding: 2rem;
}

.carousel-inner{
    border-radius: 40px 10px;
    /* background: white; */
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    box-shadow: 0 0 20px #0000009c;
}
.carousel-indicators{
    bottom: 10px;
}
.carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 75px;
    background: black;
    border: 0;
    margin: 0 8px;
}
.carousel-caption{
    bottom: 40px;
    text-shadow: 0 0 5px black;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    background: #222b3acf;
}