@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Philosopher|Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway|Righteous&display=swap');

body {
    background-color: #f2f2f2;
    background-image: url("../img/bg.svg");
    background-attachment: fixed;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fe494c;
    /* background-color: #f2f2f2;
    background-image: url("../img/bg.svg");
    background-attachment: fixed; */
}

.loading span {
    font-family: 'Righteous', monospace;
    font-size: 1.7rem;
    margin-bottom: 1rem;
    /* color: #fe494c; */
    color: white;
    font-weight: 700;
}

.looping-rhombuses-spinner,
.looping-rhombuses-spinner * {
    box-sizing: border-box;
}

.looping-rhombuses-spinner {
    width: calc(15px * 4);
    height: 15px;
    position: relative;
}

.looping-rhombuses-spinner .rhombus {
    height: 15px;
    width: 15px;
    background-color: white;
    left: calc(15px * 4);
    position: absolute;
    margin: 0 auto;
    border-radius: 2px;
    transform: translateY(0) rotate(45deg) scale(0);
    animation: looping-rhombuses-spinner-animation 2500ms linear infinite;
}

.looping-rhombuses-spinner .rhombus:nth-child(1) {
    animation-delay: calc(2500ms * 1 / -1.5);
}

.looping-rhombuses-spinner .rhombus:nth-child(2) {
    animation-delay: calc(2500ms * 2 / -1.5);
}

.looping-rhombuses-spinner .rhombus:nth-child(3) {
    animation-delay: calc(2500ms * 3 / -1.5);
}

@keyframes looping-rhombuses-spinner-animation {
    0% {
        transform: translateX(0) rotate(45deg) scale(0);
    }

    50% {
        transform: translateX(-233%) rotate(45deg) scale(1);
    }

    100% {
        transform: translateX(-466%) rotate(45deg) scale(0);
    }
}

/* navbar */
.navbar {
    font-family: 'Raleway', sans-serif;
    background: white;
    color: #222B3A;
}

.navbar-brand {
    display: flex;
    transition: 500ms ease;
    font-family: 'Righteous', cursive;
}

.navbar-brand:hover {
    color: #fe494c;
    transform: translate(10px)
}

li.nav-item {
    text-align: center;
    font-size: .9rem;
    margin: 0 .3rem;
    /* border-radius: 5px; */
    transition: 500ms ease;
    position: relative;
}

li.nav-item.cart {
    font-size: 1.1rem;
}

.navbar .nav-item:hover {
    /* background: #f3f3f3; */
    /* box-shadow: 0 0 5px #d8d8d8; */
}

li.nav-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 5%;
    background: #fe494c;
    transition: 500ms ease;
}

.navbar .nav-item:hover::after {
    width: 100%;
}

.navbar .nav-item .nav-link {
    padding: 4px 8px;
}

.navbar .nav-item:hover .nav-link {
    color: #fe494c;
}

/* .navbar-expand-md .navbar-nav .dropdown-menu {
  border: 0;
  box-shadow: 0 0 8px #8080809e;
  position: absolute !important;
}

.navbar-expand-md .navbar-nav .dropdown-men::after {
  content: "";
  position: absolute;
  top: -5%;
  left: 75%;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  border-bottom: 8px solid #ffffff;
} */

/* cart page */
.cart-div .no-cart {
    background: white;
    border-radius: 6px;
    box-shadow: 0 0 5px #e6e6e6;
    flex-direction: column;
    margin: auto;
}

.cart-div .text h2 {
    color: #fe494c;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: 600;
}

/* product  */
.product-div {
    font-family: 'Raleway', sans-serif;
    display: flex;
    /* height: 450px; */
    flex-wrap: wrap;
    padding: 1rem;
}

.product-div div {
    height: max-content;
}

.product-div .product-img,
.product-div .product-info,
.product-div .product-reviews,
.product-div .product-similar {
    background: white;
    border-radius: 4px;
    box-shadow: 0 0 5px #e6e6e6;
}

.product-div .product-img {
    flex-grow: 1;
    padding: .5rem;
}

.product-div .product-img img {
    max-height: 330px;
}

.product-div .product-info {
    flex-grow: 2;
    color: #222B3A;
}

.product-div .product-info .info .product-title {
    font-size: calc(1vw + 15px);
}

.product-div .product-info .info .product-price,
.product-div .product-reviews .heading {
    font-weight: 600;
    font-size: calc(1vw + 10px);
}

.product-div .product-info .info .product-des .header,
.product-div .product-info .info .product-type .header,
.product-div .product-info .info .product-tags .header,
.product-div .product-reviews .review .yours .total,
.product-div .product-similar .heading,
.product-div .product-reviews .review .others .div .left .name {
    font-weight: 700;
    font-size: calc(0vw + 15px);
    padding: 2px;
}

.product-div .product-info .info .product-tags .tag {
    font-size: small;
    background: #fe494c;
    color: white;
    padding: 0.3rem 1rem;
    border-radius: 20px;
    margin: 3px;
    transition: 500ms ease;
}

.product-div .product-info .info .product-tags .tag:hover {
    transform: scale(1.09);
}

.product-div .product-info .info .product-tags .tag:hover a {
    color: white;
    text-decoration: none;
}

.product-div .product-info .info .add-to-cart .btn {
    padding: .5rem 2rem;
    background: white;
    border-color: #fe494c;
    color: #fe494c;
    border-radius: 50px;
    transition: 500ms ease;
}

.product-div .product-info .info .add-to-cart .btn:hover {
    background: #fe494c;
    color: white;
    transform: scale(0.95);
}

.product-div .product-reviews {
    flex-grow: 2;
}

.product-div .product-reviews .review .yours label {
    font-size: 2rem;
}

.product-div .product-reviews .review .yours label:checked {
    color: yellow;
}

.product-div .product-reviews .review .others .div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: 500ms ease;
    padding: .5rem;
    margin: .3rem;
    border: 1px solid #dadada;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

.product-div .product-reviews .review .others .div:hover {
    box-shadow: 0 0 5px #cccccc;
    background: #dadada;
    transform: scale(0.95);
}

.product-div .product-reviews .review .others .div .left .rate {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.product-div .product-reviews .review .others .div .left .rate label{
 margin: 0;
  font-size: smaller;
}
.product-div .product-reviews .review .others .div .right span{
  font-size: smaller;
  font-weight: 600;
  padding: .5rem;
}
.product-div .product-similar {
    /* flex-grow: 1; */
}

.product-div .product-similar .items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
}

.product-div .product-similar .items li {
    margin: 2px;
    transition: 500ms ease;
}

.product-div .product-similar .items li:hover {
    transform: scale(1.02);
}

.product-div .product-similar .items li .price {
    font-size: smaller;
    padding: 4px;
}
